@charset "utf-8";

@mixin fontSetting($FONT-SIZE:1em, $LINE-HEIGHT:1.75em, $WEIGHT:normal) {
    font-size: $FONT-SIZE;
    line-height: $LINE-HEIGHT;
    font-weight: $WEIGHT;
}

@mixin aSetting($COLOR:#333, $NOLINE:none) {
    color: $COLOR;
    text-decoration: $NOLINE;
}

body {
    @include fontSetting(1em);
    color: #333;
    font-size: 1em;
}

a {




    @include aSetting();
    &:hover {
        @include aSetting($_aColor);
    }
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

::selection {
    background: #66ccff;
    color: #000;
}

h1 {
    @include fontSetting(1.5em, 1.75em, bold);
    margin-top: 0px;
}

h2 {
    @include fontSetting(1.25em, 1.75em, bold);
    margin-top: 0px;
}

h3 {
    @include fontSetting(1em, 1.75em, bold);
    margin-top: 0px;
}

h4 {
    @include fontSetting(.938em, 1.75em, bold);
    margin-top: 0px;
}

h5 {
    @include fontSetting(.813em, 1.75em, bold);
    margin-top: 0px;
}

h6 {
    @include fontSetting(.813em, 1.75em, bold);
    margin-top: 0px;
}

p {
    @include fontSetting(1em, 1.75em, normal);
}

li {
    @include fontSetting(1em, 1.75em, normal);
}

@media (max-width: 767px) {
    h1 {
        @include fontSetting(1.5em, 1.75em, bold);
        margin-top: 0px;
    }
    h2 {
        @include fontSetting(1.25em, 1.75em, bold);
        margin-top: 0px;
    }
    h3 {
        @include fontSetting(1em, 1.75em, bold);
        margin-top: 0px;
    }
    h4 {
        @include fontSetting(.938em, 1.75em, bold);
        margin-top: 0px;
    }
    h5 {
        @include fontSetting(.875em, 1.75em, bold);
        margin-top: 0px;
    }
    h6 {
        @include fontSetting(.875em, 1.75em, bold);
    }
    p {
        @include fontSetting(1em, 1.75em, normal);
    }
    li {
        @include fontSetting(1em, 1.75em, normal);
    }
}

blockquote {
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    display: block;
    font-style: italic;
    overflow: hidden;
}