@charset "utf-8";
/*主選單*/
#Header .container>.navbar-collapse {
    padding: 0;
}
#Header .MainMenu {
    height: 50px;
    position: relative;
    z-index: 999999;
    margin-top: 5px;
    padding-left: 0; // background:$main_color;
    a {
        text-decoration: none;
    }
    .navbar-nav {
        width: 100%;
        >li>a {
            color: #000;
            text-shadow: 1px 1px 1px #FFF;
            min-width: 100px;
            text-align: center;
            font-size: 1em;
            height: 45px;
            padding-right: 0px;
            padding-left: 0px;
            padding-top: 13px;
            &:focus {
                outline: 2px solid $color-yellow;
            }
        }
        >li:last-child>a {
            &:hover,
            &:focus {}
        }
        .dropdown>a {
            background: transparent;
            >.caret {
                color: #666;
            }
        }
        .caret {
            margin-left: 5px;
            color: #666;
        }
        .dropdown {
            &:last-child {
                // border: 1px solid red;
                .dropdown-submenu {
                    .dropdown-menu {
                        left: -100%;
                        @media (max-width: 1199px) {
                            left: 100%;
                        }
                    }
                }
            }
        }
    }
}
/* 第二層選單 */
#Header .MainMenu .navbar-nav .dropdown-menu {
    width: 230px;
    padding: 0 0;
    margin-top: -1px;
    >li {
        >a {
            font-size: 1.063em;
            color: #000;
            background: $_lightColor;
            line-height: 1.8em;
            text-align: left;
            padding: 6px 15px;
            border-bottom: 1px solid lighten($_lightColor, 20);
            white-space: normal;
            &:hover,
            &:focus {
                color: #fff;
                background: $_primaryColor;
            }
        }
        &:last-child>a {
            border-bottom: none;
        }
    }
}
/*主選單-第三節點*/
#Header .MainMenu .navbar-nav .dropdown-menu {
    >li ul {
        width: 230px;
        list-style: none;
        padding: 0;
        top: 0px;
        li a {
            font-size: 1.188em;
            padding: 6px 15px;
            display: block;
            box-sizing: border-box;
            text-decoration: none;
            border: none;
            border-bottom: 1px solid lighten($_lightColor, 20);
            white-space: normal;
        }
    }
    .dropdown-submenu {
        position: relative;
        >.dropdown-menu {
            top: 5px;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }
        >a:after {
            display: block;
            content: '';
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            margin-top: 8px;
            margin-right: -10px;
        }
        &:hover>a:after {
            border-left-color: #fff;
        }
        .pull-left {
            float: none;
            >.dropdown-menu {
                // left: -100%;
                margin-left: 10px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                border-radius: 0px;
            }
        }
    }
}
@media (max-width: 991px) and (min-width:768px) {
    .welcome_Header {
        .welcomeMenu {
            float: none;
            background: #FFF;
        }
        .MainMenu {
            height: 50px;
            margin-top: 0px;
            margin-left: -30px;
            margin-right: -30px;
            a {}
            .navbar-nav {
                width: 100%;
                background: #FFF;
                >li {
                    display: inline-block;
                    width: 99px !important;
                }
                >li>a {
                    font-size: 1em;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    #Header .MainMenu {
        height: auto;
        margin: 0px;
        padding-left: 0%;
        a {
            text-decoration: none;
        }
        .navbar-nav {
            width: 100%;
            margin: 0px !important;
            >li>a {
                border-left: none;
                text-shadow: none !important;
                color: #fff !important;
                display: block;
                min-width: 100px;
                line-height: 30px;
                text-align: left;
                font-size: 1.063em;
                border-bottom: 1px solid RGBA(255, 255, 255, 0.3);
                padding: 6px 15px;
                &:hover,
                &:focus {
                    background: darken($_aColor, 5);
                }
            }
            .dropdown>a {
                background: transparent;
                >.caret {
                    color: #fff;
                }
            }
            .caret {
                margin-left: 5px;
                color: #333;
            }
        }
    }
    /* 第二層選單 */
    #Header .MainMenu .navbar-nav .dropdown-menu {
        min-width: 200px;
        padding: 0 0;
        margin-top: -1px;
        width: 100%;
        >li {
            >a {
                font-size: 1.063em;
                background: #fff;
                line-height: 1.6em;
                text-align: left;
                color: #333;
                padding: 6px 25px;
                border-bottom: dotted 1px #c2c2c2;
                &:hover,
                &:focus {
                    color: #333;
                    background: #EEE;
                }
            }
            &:last-child>a {
                border-bottom: none;
            }
        }
    }
    /*主選單-第三節點*/
    #Header .MainMenu .navbar-nav .dropdown-menu {
        >li ul {
            background: #fff;
            width: 100%;
            list-style: none;
            padding: 0;
            top: 0px;
            li a {
                font-size: 1.063em;
                padding: 6px 15px;
                display: block;
                box-sizing: border-box;
                text-decoration: none;
                border: none;
                border-bottom: dotted 1px #c2c2c2;
                background-color: #e5e5e5;
            }
        }
        .dropdown-submenu {
            position: relative;
            >.dropdown-menu {
                top: 0px;
                left: 0px;
                margin-top: 0px;
                margin-left: 0px;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
            }
            >a:after {
                display: block;
                content: '';
                float: right;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                margin-top: 8px;
                margin-right: -10px;
            }
            &:hover>a:after {
                border-left-color: #555;
            }
            .pull-left {
                float: none;
                >.dropdown-menu {
                    left: 0%;
                    margin-left: 0px;
                    -webkit-border-radius: 0px;
                    -moz-border-radius: 0px;
                    border-radius: 0px;
                }
            }
        }
    }
    // welcome_menu_setting
}
.welcome_Header {
    .MainMenu {
        float: right !important;
        width: 60% !important;
        margin-top: -35px !important;
        background-color: #FFF !important;
        .navbar-nav {
            background: none;
            >li>a {
                color: #666 !important;
                text-shadow: none !important;
            }
        }
        .navbar-collapse {
            margin-top: -30px !important;
        }
    }
}
@media (max-width: 991px) and (min-width:768px) {
    .welcome_Header {
        .MainMenu {
            width: 70% !important;
        }
    }
}
@media (max-width: 767px) {
    .welcome_Header {
        .MainMenu {
            float: none !important;
            background: rgb(51, 51, 51) !important;
            margin: 0px !important;
            width: 100% !important;
            position: relative;
        }
    }
}